This is a Next.js App Router based project using the following:
  - Tailwind CSS
  - Typescript

Please always make sure to:
  - use the latest version of the packages.
  - build responsive UI that works for both mobile and desktop

